{% extends "admin/admin_base.html" %}

{% block addStyle %}
    <style>
        .form-container{
            padding-left: 30px;
            padding-top: 10px;
            padding-right: 30px;
        }
        .space-width{
            padding-left: 50px;
        }
        li>a{
            color: black;
        }
    </style>
    <link rel="stylesheet" href="{{ static("admin/js/resetpwd.js") }}">
    <link rel="stylesheet" href="{{ static("admin/css/sweetalert.css") }}">
    <script src="{{ static("admin/js/xtalert.js") }}"></script>
    <script src="{{ static("admin/js/sweetalert.min.js") }}"></script>
{#    <link rel="stylesheet" href="{{ static("common/css/bootstrap.min.css") }}">#}
    <script src="{{ static("common/js/jquery.min.js") }}"></script>
    <script src="{{ static("common/js/bootstrap.min.js") }}"></script>
    {% block modelJs %}
        <script src="{{ static("admin/js/update_admin.js") }}"></script>
    {% endblock %}
{% endblock %}

{% block mainTitle %}
    {% if g.admin_user.admin_is_super %}
        <a name="admin" class="btn btn-default" href="{{ url_for('admin.admin_manager_user', page=1) }}" role="button">管理员</a>
    {% endif %}
    <a name="teacher" class="btn btn-default" href="{{ url_for('admin.admin_manager_teacher', page=1) }}" role="button">老师</a>
    <a name="student" class="btn btn-default" href="{{ url_for('admin.admin_manager_student', page=1) }}" role="button">学生</a>
{% endblock %}

{% block mainContent %}
    {% block mainInfo %}
        <div class="form-container">
        <table class="table table-bordered" style="font-size: 18px">
            <tbody>
                <tr>
                    <td><b>姓名</b></td>
                    <td><b>邮箱账号</b></td>
                    <td><b>绑定手机</b></td>
                    <td><b>超级管理员</b></td>
                    <td><b>加入时间</b></td>
                    <td><b>修改</b></td>
                    <td><b>删除</b></td>
                </tr>
                {% for user in users %}
                    {% if not user.admin_is_delete %}
                        <tr data-uid="{{ user.admin_uuid }}" data-name="{{ user.admin_name }}" data-email="{{ user.admin_email }}"
                            data-phone="{{ user.admin_phone }}" data-is-super="{{ user.admin_is_super }}">
                            <td>{{ user.admin_name }}</td>
                            <td>{{ user.admin_email }}</td>
                            <td>{{ user.admin_phone }}</td>
                            <td>{{ user.admin_is_super }}</td>
                            <td>{{ user.admin_create_time }}</td>
                            <td> <button id="update-dialog" class="btn btn-primary btn-update" data-toggle="modal" data-target="#updatedialog">修改</button>
                            <td> <button id="btn-delete" class="btn btn-danger btn-delete">删除</button> </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
    {% block nextPage %}
        <center>
                {% if page > 1 %}
                    {% with page=page - 1 %}
                        <td> <button type="button" class="btn btn-info"><a href="{{ url_for('admin.admin_manager_user', page=page) }}">上一页</a></button>
                    {% endwith %}
                {% endif %}
                <span class="space-width"> </span>
                {% if total >= 10 %}
                    {% with page=page + 1  %}
                        <td> <button type="button" class="btn btn-info"><a href="{{ url_for('admin.admin_manager_user', page=page) }}">下一页</a></button>
                    {% endwith %}
                {% endif %}
            </center>
    {% endblock %}

    </div>

<!-- Modal -->
<div class="modal fade" id="updatedialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">修改用户信息</h4>
      </div>
      <div class="modal-body" style="margin: 0 auto; font-size: 20px; width: 550px;">
        <form class="form-horizontal" method="post">
            <div style="visibility:hidden"><input name="uid" type="text" value=""></div>
          <div class="form-group">
            <label name="name" for="inputName" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
              <input name="name" type="text" class="form-control" id="inputName" placeholder="name">
            </div>
          </div>
          <div class="form-group">
            <label name="email" for="inputEmail" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input name="email" type="email" class="form-control" id="inputEmail" placeholder="email">
            </div>
          </div>
          <div class="form-group">
            <label name="phone" for="inputPhone" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
              <input name="phone" type="text" class="form-control" id="inputPhone" placeholder="phone">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input id="checkbox" value="0" name="super_admin" type="checkbox"> 超级管理员
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="save-info-btn" type="button" class="btn btn-primary save-btn">保存</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
