{% extends "admin/admin_base.html" %}

{% block addStyle %}
    <style>
        .form-container{
            width: 350px;
            padding-left: 40px;
            padding-top: 30px;
        }
    </style>
    <link rel="stylesheet" href="{{ static("admin/js/resetpwd.js") }}">
    <link rel="stylesheet" href="{{ static("admin/css/sweetalert.css") }}">
    <script src="{{ static("admin/js/xtalert.js") }}"></script>
    <script src="{{ static("admin/js/sweetalert.min.js") }}"></script>
{% endblock %}

{% block mainTitle %}
    修改密码
{% endblock %}

{% block mainContent %}
<form action="" method="post">
    <div class="form-container">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">旧密码</div>
                <input name="oldpwd" type="password" class="form-control" placeholder="请输入旧密码">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">新密码</div>
                <input name="newpwd" type="password" class="form-control" placeholder="请输入新密码">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">重复新密码</div>
                <input name="newpwd2" type="password" class="form-control" placeholder="请确认新密码">
            </div>
        </div>
        <div class="form-group">
            <button id="submit" type="submit" class="btn btn-primary">立即修改</button>
        </div>
    </div>
</form>
    {% if message=="密码修改成功" %}
        <script>
            xtalert.alertSuccess("{{ message }}");
        </script>
    {% elif message in ("旧密码不正确", "两次输入的密码不一致", '密码的长度要在6-20之间') %}
        <script>
            xtalert.alertInfo("{{ message }}");
        </script>
    {% endif %}
{% endblock %}
